# Assignment - Day 2

### List and its default functions

In [1]:
l = [1,2,3,4,5]

### Function 1 : append()

In [2]:
l.append(6)

In [3]:
l

[1, 2, 3, 4, 5, 6]

### Function 2 : count()

In [11]:
l.count(4)

1

### Function 3 : copy()

In [12]:
l1 = l.copy()
print(l1)

[1, 2, 3, 4, 5, 6]

### Function 4 : clear()

In [13]:
l.clear()

In [14]:
l

[]

### Function 5 : pop()

In [17]:
l1.pop()
l1

[1, 2, 3, 4]

### Function 6 : insert()

In [19]:
l1.insert(5,5)
l1

[1, 2, 3, 4, 5]

## Dictionary and its default functions :

In [23]:
d = {"name" : "Bhanu", "Age" : "21"}
d

{'name': 'Bhanu', 'Age': '21'}

### Function 1 : keys()

In [25]:
d.keys()

dict_keys(['name', 'Age'])

### Function 2 : values()

In [31]:
d.values()

dict_values([])

### Function 3 : items()

In [27]:
d.items()

dict_items([('name', 'Bhanu'), ('Age', '21')])

### Function 4 : get()

In [29]:
d.get("name")

'Bhanu'

### Function 5 : clear()

In [30]:
d.clear()
d

{}

## Sets and its default functions

In [35]:
s = {1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

### Function 1 : add()

In [37]:
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

### Function 2 : discard()

In [38]:
s.discard(4)
print(s)

{1, 2, 3, 5, 6}

### Function 3 : issubset()

In [39]:
s1 = {1,2}

In [40]:
s1.issubset(s)

True

### Function 4 : isdisjoint()

In [41]:
s1.isdisjoint(s)

False

### Function 5 : difference()

In [42]:
s.difference(s1)

{3, 5, 6}

### Function 6 : intersection()

In [43]:
s.intersection(s1)

{1, 2}

## Tuples and its default functions :

In [47]:
t = (1,2,3,4,5,5)
print(t)
type(t)

(1, 2, 3, 4, 5, 5)

tuple

### Function 1 : count()

In [48]:
t.count(5)

2

### Function 2 : index()

In [49]:
t.index(4)

3

## Strings and its default functions :

In [52]:
s = "Bhanu"
print(s)
type(s)

Bhanu

str

### Function 1 : capitalize()

In [54]:
s.capitalize()

'Bhanu'

### Function 2 : upper()

In [55]:
s.upper()

'BHANU'

### Function 3 : lower()

In [56]:
s.lower()

'bhanu'

### Function 4 : find()

In [58]:
s.find('a')

2

### Function 5 : title()

In [59]:
s.title()

'Bhanu'